@model IEnumerable<WebApplication15.ECRIVAIN>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRENOMECR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMECR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAYSECR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LANGUECR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRENOMECR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMECR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAYSECR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LANGUECR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NUMECR }) |
            @Html.ActionLink("Details", "Details", new { id=item.NUMECR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NUMECR })
        </td>
    </tr>
}

</table>
